/**
 * @file
 * HFC site branding elements.
 */

.block-hfcglobal-home-link-block {
  width: 300px;
  height: 40px;
  margin: 0.5em auto 0;
}

.block-hfcglobal-home-link-block a {
  display: block;
  width: 300px;
  max-width: 100%;
  height: 40px;
  color: transparent;
  border: none;
  background-image: url("../../images/hfc-futuredriven-horizontal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
  line-height: 0;
}

.block-hfcglobal-universal-nav-block {
  text-align: center;
}

.block-hfcglobal-universal-nav-block a {
  display: inline-block;
  margin: 0.5em 0.5em -1px 0.5em;
  padding: 0.3em;
  text-transform: uppercase;
  color: var(--font-color);
  border: 1px solid var(--dark-gray);
  background-color: var(--white);
  font-family: "Work Sans", "Open Sans", sans-serif;
}

.block-hfcglobal-universal-nav-block a:hover,
.block-hfcglobal-universal-nav-block a:focus {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--dark-gray);
  background-color: transparent;
}

.site-name a {
  display: block;
  margin: 0 auto;
  padding: 0.5em 1em 0.5em 1.8em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-branding-color);
  border: 1px solid var(--secondary-branding-color);
  background: url("../../images/home-icon-navy.svg");
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 38%;
  background-size: 20px 20px;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: unset;
}

.site-name a:hover,
.site-name a:focus,
.site-name a:active {
  color: var(--white);
  border: 1px solid transparent;
  background: url("../../images/home-icon-white.svg");
  background-color: var(--secondary-branding-color);
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 38%;
  background-size: 20px 20px;
}

@media only screen and (min-width: 650px) {
  .block-hfcglobal-home-link-block {
    margin: 0.5em 0 0;
  }
}
