/**
 * @file
 * Styles for buttons.
 */

.hfc-button a {
  display: block;
  color: inherit;
  border-bottom: none;
}

.hfc-button a:hover,
.hfc-button a:focus {
  background-color: transparent;
}

button {
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

a.hfc-button,
.button-action {
  position: relative;
  display: inline-block;
  margin: 0.4em 0;
  padding: 0 0.8em;
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  text-transform: uppercase;
  color: #fff !important;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: #002d5b;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 500;
}

a.hfc-button:after {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  border-bottom: 1px solid #002d5b;
  border-left: 1px solid #002d5b;
}

a.hfc-button.wide {
  width: 100%;
  text-align: center;
}

a.hfc-button.big {
  padding: 0.5em 1.5em;
  color: #fff;
  border: 2px solid #262729 !important;
  background-color: #262729;
}

a.hfc-button:hover,
a.hfc-button:focus,
.button-action:hover,
.button-action:focus {
  text-decoration: none;
  color: #002d5b !important;
  border: 2px solid #002d5b !important;
  background-color: #fff;
}

a.hfc-button.big:hover,
a.hfc-button.big:focus {
  color: #262729 !important;
  border: 2px solid #262729 !important;
  background-color: transparent;
}

a.hfc-file-button {
  display: inline-block;
  margin: 0 0.25em 1em;
  padding: 0.2em 1em;
  text-decoration: none;
  color: #262729;
  border: 3px solid #002d5b;
  background-color: rgba(0, 84, 166, 0.2);
  font-size: 16px;
  font-weight: bold;
}

a.hfc-file-button:hover,
a.hfc-file-button:focus {
  border: 3px solid #ccc;
  background-color: #fff;
}

a.hfc-button-black {
  position: relative;
  display: inline-block;
  margin: 0.4em 0;
  padding: 0 0.8em;
  transition: background 0.2s ease;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid transparent;
  background-color: #262729;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 500;
}

a.hfc-button-black:hover,
a.hfc-button-black:focus {
  color: #262729;
  border: 2px solid #262729;
  background-color: #fff;
}

a.hfc-button-black::after {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  border-bottom: 1px solid #262729;
  border-left: 1px solid #262729;
}

a.hfc-button-black.full-width {
  width: 100%;
}

.hfc-button-major {
  display: block;
  width: 80%;
  margin: 0.4em 0;
  padding: 0.5em 1.2em 0.5em 0.5em;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: #fff !important;
  border: none;
  background-color: #0878b2;
  background-image: url("../images/arrow-right-white.svg");
  background-repeat: no-repeat;
  background-position: center right 0.5em;
  background-size: 1em;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-weight: 500;
}

.hfc-button-major:hover,
.hfc-button-major:focus {
  width: 100%;
  border: none;
  background-color: #0878b2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(128, 128, 128, 0.1) inset;
}

@media (min-width: 600px) {
  .hfc-button.big {
    margin: 0 1em;
    padding: 0.5em 1.5em;
    font-size: 1.2rem;
  }
}
