.paragraphs-item-collapsible-paragraphs {
  margin-bottom: 0.5em;
}

/* Title field (clickable header) */

.collapsible-title {
  flex: 1 1 100%;
  margin: 0.5em auto 0 auto;
  padding: 0.5em;
  padding-right: 2em;
  cursor: pointer;
  color: #fff;
}

li .collapsible-buttons {
  position: fixed;
  z-index: 99;
  bottom: 10px;
  left: 10px;
}

.paragraphs-item-collapsible-paragraphs > .content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.collapsible-title > h1,
.collapsible-title > h2,
.collapsible-title > h3,
.collapsible-title > h4,
.collapsible-title > h5,
.collapsible-title > h6 {
  margin: 0;
  padding: 0;
}

.collapsible-title.expand-plus,
.collapsible-title.collapse-minus {
  border: 4px solid transparent;
}

.collapsible-title.expand-plus:focus,
.collapsible-title.collapse-minus:focus {
  border: 4px double #fff;
}

/* Collapsible content */

.hfc-show-content {
  display: none;
  margin-top: 0;
  padding: 1em;
  border-right: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
}

/* Plus/Minus icons */

.expand-plus {
  display: block;
  padding-right: 45px;
  background-color: #135f84;
  background-image: url("../../images/plus-icon-square.svg");
  background-repeat: no-repeat;
  background-position-x: 99.5%;
  background-position-y: center;
  background-size: 1.5em 1.5em;
}

.collapse-minus {
  display: block;
  padding-right: 45px;
  background-color: #002d5b;
  background-image: url("../../images/minus-icon-square-navy.svg");
  background-repeat: no-repeat;
  background-position-x: 99.5%;
  background-position-y: center;
  background-size: 1.5em 1.5em;
}

/* Open all/Close all buttons */

.hfc-open-all,
.hfc-close-all {
  display: inline-block;
  margin: 0.4em 0.4em 0.4em 0;
  padding: 0 0.8em;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid transparent;
  background-color: #135f84;
  font-weight: bold;
}

.hfc-open-all:hover,
.hfc-close-all:hover,
.hfc-open-all:focus,
.hfc-close-all:focus,
.hfc-open-all:active,
.hfc-close-all:active {
  color: #135f84;
  border: 2px solid #135f84;
  background-color: #fff;
}
