/**
 * @file
 * Page header styling.
 */

.section-header {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 1em 1em;
  box-shadow: 0 5px 10px -5px #262729;
}

/* Search form. */

.block-search-form-block {
  position: relative;
}

.block-search-form-block form {
  position: relative;
  width: auto;
  margin: 0.5em 0 0.5em 0.5em;
}

.block-search-form-block label.visually-hidden {
  position: absolute;
  bottom: 6px;
  left: 3px;
  overflow: hidden;
  clip: auto;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  color: transparent;
  background-color: #fff;
  background-image: url("../../images/search-blue.svg");
  background-size: contain;
  font-size: 0;
}

.block-search-form-block input.form-search {
  box-sizing: content-box;
  width: 125px;
  margin: 0;
  padding: 0.3em 0 0.3em 21px;
  color: #fff;
  border: 1px solid #262729;
  background-color: #fff;
}

.block-search-form-block input.form-submit {
  display: none;
}

/* Main Navigation */

nav.menu--main > ul {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-weight: bold;
  line-height: normal;
}

nav.menu--main > ul li {
  flex: 1 0 auto;
  width: 100%;
  margin: 0.5em 0;
  padding: 0;
}

nav.menu--main > ul li:first-child {
  margin-left: 0;
}

nav.menu--main > ul li:last-child {
  margin-right: 0;
}

nav.menu--main > ul li a {
  display: block;
  margin-bottom: -2px;
  padding: 0.3em;
  text-transform: uppercase;
  color: #262729;
  border-bottom: 1px solid #262729;
  background: transparent;
  font-family: "Work Sans", "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: initial;
}

nav.menu--main > ul li a:hover,
nav.menu--main > ul li a:focus {
  margin-bottom: -3px;
  color: #262729;
  border-bottom: 2px solid #0054a6;
}

@media only screen and (min-width: 500px) {
  nav.menu--main > ul li {
    flex: 0 1 auto;
    width: auto;
    margin: 0.5em 1em;
  }
}

@media only screen and (min-width: 650px) {
  .region-header-top,
  .region-header-middle,
  .region-header-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 0 1em;
  }

  .site-name {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 1080px) {
  nav.menu--main > ul {
    font-size: 1em;
    line-height: normal;
  }
}
