/**
 * @file
 * Styling for navigation elements not in the header.
 */

.breadcrumb li {
  position: relative;
  display: inline-block;
  margin: 0.2em;
  padding: 5px 0.8em;
  transition: background 0.2s ease;
  transform: skew(-10deg);
  text-decoration: none;
  color: #262729;
  border-bottom: 2px solid #262729;
  background: #ccc;
}

.breadcrumb li:hover,
.breadcrumb li:focus {
  border-bottom: 2px solid transparent;
  background-color: #7fe5ff;
}

.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:focus {
  display: block;
  transform: skew(10deg);
  text-decoration: none;
  color: #262729;
  border-bottom: none;
  background: inherit;
}
