/**
 * @file
 * Styles for BANE News Client
 */

/* Grid Layout Fixes */

.paragraph--type--bane-news-client .grid-child.hfc-bane-news-teaser {
  justify-content: center;
  background: transparent;
  box-shadow: 0 0 3px 0 #cdcdcd;
}

/* News Card Styles */

a.newsgrid-title-link > img {
  min-width: 100%;
}

.hfc-bane-news-teaser > .newsgrid-title-link {
  border-bottom: transparent;
}

a.newsgrid-title-link h3 {
  position: relative;
  margin-bottom: 2px;
  padding: 0.25em 0.75em;
  color: var(--font-color);
  border-bottom: 1px solid var(--white);
}

a.newsgrid-title-link h3:before {
  position: absolute;
  z-index: -1;
  bottom: 6px;
  left: 10;
  width: 65px;
  height: 8px;
  content: "";
  opacity: 0.3;
  border-radius: 0;
  background: #976e2b;
}

a.newsgrid-title-link:hover > img,
a.newsgrid-title-link:focus > img {
  opacity: 0.8;
  border-bottom: transparent;
}

.content > .hfc-bane-news-teaser a:hover,
.content > .hfc-bane-news-teaser a:focus {
  text-decoration: none;
  background-color: var(--white);
}

a.newsgrid-title-link:hover > h3,
a.newsgrid-title-link:focus > h3 {
  margin-bottom: -1px;
  text-decoration: none;
  border-bottom: 2px solid #976e2b;
  background-color: #dedede;
}
