/**
 * @file
 * This file contains theming for the webforms and form fields, completely overrides webform module's webform.css
 */

form {
  max-width: 100%;
  margin: 0.5em auto;
  color: var(--font-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

form.form-width-sm {
  width: 400px;
}

form.form-width-md {
  width: 800px;
}

form.form-width-lg {
  width: 1200px;
}

.form-item {
  position: relative;
  margin: 0 0 1em 0;
}

/* Flexbox Styles */

.webform-flexbox {
  display: block;
}

.webform-flex--container > .form-item {
  margin: 0.5em 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  width: auto;
  min-width: 300px;
  max-width: 100%;
  padding: 1.2em 0.25em 0.5em 0.25em;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  background: var(--white);
  font-size: 1.2em;
  line-height: 1.5em;
}

select {
  padding: 1.75em 0.25em 0.3em 0.25em;
}

label {
  padding: 4px 0 10px;
  transition: top 0.2s ease, color 0.01s linear;
}

label.hfc-float-position {
  position: absolute;
  top: 0.2em;
  padding: 4px 10px;
  color: var(--dark-gray);
}

label.hfc-float-position:hover {
  color: var(--light-gray);
}

label.hfc-float-label {
  top: -1.5em;
  margin-top: 1em;
  margin-left: 4px;
  padding: 0 4px 0 4px;
  color: var(--font-color);
  background-color: var(--white);
}

fieldset {
  padding: 0.5em;
  border: 1px solid var(--light-gray);
}

input[type="submit"] {
  display: inline-block;
  margin: 0;
  padding: 0.3em;
  text-transform: uppercase;
  color: var(--font-color);
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: var(--light-gray);
  font-weight: bold;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  text-decoration: none;
  color: var(--font-color);
  border: 2px solid var(--font-color);
  background-color: var(--white);
}

input[type="submit"].webform-submit {
  color: var(--white);
  background-color: #0054a6;
}

input[type="submit"].webform-submit:hover,
input[type="submit"].webform-submit:focus {
  color: #0054a6;
  border: 2px solid #0054a6;
  background-color: var(--white);
}

input.full-width-form-field {
  width: 100%;
}

.fieldset-legend {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25em;
}

.form-required::after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  background-image: url("../../images/required.svg");
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

.form-item .description {
  margin: 0.25em 0;
  padding: 0.25em 1em;
  border-top: solid 1px var(--light-gray);
  border-bottom: solid 1px var(--light-gray);
  background: #f2f2f2;
  font-size: 1em;
  font-style: italic;
}

.fieldset-description {
  margin-bottom: 1em;
}

.webform-component-fieldset {
  margin-bottom: 1em;
}

/* File */

.webform-component-file label {
  position: relative;
}

/* Date Picker */

.webform-component-date label,
.webform-component-time label {
  position: relative;
}

.webform-component-date .webform-container-inline > div,
.webform-component-time .webform-container-inline > div {
  display: inline-block;
}

.webform-component-date select,
.webform-component-time select {
  padding: 0.25em;
}

.webform-component-time .form-radios > .form-item {
  display: inline-block;
  margin: 0.4em;
}

/* Textarea */

textarea.full-width-textarea {
  width: 100%;
}

/* Checkbox and Radios */

.webform-component-radios > label,
.webform-component-checkboxes > label {
  position: relative;
  padding: 0;
}

[type="radio"],
[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

[type="radio"] + label,
[type="checkbox"] + label {
  position: relative;
  display: block;
  padding: 0;
}

[type="radio"] + label:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.55em;
  content: "";
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  vertical-align: -0.25em;
  border: 0.125em solid var(--white);
  border-radius: 1em;
  background-color: var(--white);
  box-shadow: 0 0 0 2px var(--font-color);
}

[type="checkbox"] + label:before {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.75em;
  content: "";
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  vertical-align: -0.25em;
  border: 0.1em solid var(--white);
  background-color: var(--white);
  box-shadow: 0 0 0 2px var(--font-color);
}

/* focus styling */

[type="radio"]:focus + label:before,
[type="radio"]:hover + label:before,
[type="checkbox"]:focus + label:before,
[type="checkbox"]:hover + label:before {
  background: #b5b5b5;
  box-shadow: 0 0 0 4px var(--font-color);
}

/* the checked style using the :checked pseudo class */

[type="radio"]:checked + label:before,
[type="checkbox"]:checked + label:before {
  background: var(--font-color);
  box-shadow: 0 0 0 2px var(--font-color);
}

/* Progress Bar */

.webform-progressbar-page {
  margin: -5px -4px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.webform-progressbar-outer {
  border: none;
  background-color: var(--light-gray);
}

.webform-progressbar-inner {
  background-color: #aac54e;
}

.webform-progressbar-page.completed {
  background-color: #aac54e;
}

.webform-progressbar-page.current {
  background-color: #aac54e;
}

/* Label Exceptions */

.views-exposed-widget > label,
fieldset > label {
  position: relative;
  display: block;
}

[type="radio"] + label,
[type="checkbox"] + label,
.form-type-radios > label,
.form-type-checkboxes > label,
.webform-component-textarea > label,
.form-type-managed-file label,
.google-cse label {
  position: relative;
}

.search-form .container-inline div,
.search-form .container-inline label {
  display: block;
}

/* @todo  E - Looks like we may be able to remove the .layout-checkout-form class. Will do more testing. But this should be working.
B -figure out if this is the only way to change checkout form labels to not be inline (might not need this at all when changes from 6/17 are pushed */

.form-item label {
  display: block;
}

/* Layout Checkout Form Special Classes */

.layout-checkout-form .form-actions {
  margin-top: 1em;
}

.layout-checkout-form .link--previous {
  padding: 0.5em;
  text-transform: uppercase;
  border: 2px solid transparent;
  background-color: var(--light-gray);
  font-weight: bold;
}

.layout-checkout-form .link--previous:hover,
.layout-checkout-form .link--previous:focus {
  border: 2px solid var(--font-color);
  background: var(--white);
}
