{#
/**
 * @file
 * Them override to display collapsible paragraphs.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'hfc-collapsible-wrapper'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="content">
      {% block content %}
        {{ content.field_collapsible_title }}
        <div class="hfc-show-content">
          {{ content|without('field_collapsible_title') }}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
