/*
 * @file
 * Provides layout styles for reusable css columns.
 */

@media only screen and (min-width: 500px) {
  .column-count-2 > .text-formatted,
  .column-count-2.view > .content,
  .column-count-3 > .text-formatted,
  .column-count-3.view > .content,
  .column-count-4 > .text-formatted,
  .column-count-4.view > .content {
    column-count: 2;
    gap: 1em;
  }

  .column-text.column-ruled > .text-formatted {
    column-rule: solid 1px #ccc;
  }

  .column-text > .text-formatted > p,
  .column-text li,
  .column-text.view > .content > div {
    break-inside: avoid;
  }

  .column-text > .text-formatted > *:first-child {
    margin-top: 0;
  }

  .column-text.view > .content > .item-list > ul {
    margin-top: 0;
  }

  .column-text.column-ruled > .text-formatted > p {
    padding-left: 0.5em;
  }
}

@media only screen and (min-width: 700px) {
  .column-count-3 > .text-formatted,
  .column-count-3.view > .content,
  .column-count-4 > .text-formatted,
  .column-count-4.view > .content {
    column-count: 3;
  }
}

@media only screen and (min-width: 1000px) {
  .column-count-4 > .text-formatted,
  .column-count-4.view > .content {
    column-count: 4;
  }
}
