/*
 * @file
 * Provides the layout styles for Kingfisher custom layouts.
 */

@media only screen and (min-width: 980px) {
  .layouts--mini-left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
  }

  .layouts--mini-right {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
  }
}
