/**
 * @file
 * This file defines the page template structure.
 */

.section-main .layout-content {
  padding: 0 2% 1.5em;
}

@media only screen and (min-width: 980px) {
  .two-sidebars .section-main {
    display: grid;
    gap: 1em;
    grid-template-columns:
      var(--two-sidebars-width)
      1fr
      var(--two-sidebars-width);
  }

  .two-sidebars .layout-content {
    grid-row: 1;
    grid-column: 2;
  }

  .two-sidebars .layout-sidebar-first {
    grid-row: 1;
    grid-column: 1;
  }

  .two-sidebars .layout-sidebar-second {
    grid-row: 1;
    grid-column: 3;
  }

  .sidebar-first .section-main {
    display: grid;
    gap: 1em;
    grid-template-columns: var(--one-sidebar-width) 1fr;
  }

  .sidebar-first .layout-content {
    grid-row: 1;
    grid-column: 2;
  }

  .sidebar-first .layout-sidebar-first {
    grid-row: 1;
    grid-column: 1;
  }

  .sidebar-second .section-main {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr var(--one-sidebar-width);
  }
}
