/**
* @file
* This file contains reusable section patterns.
*/

.full-width-section {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-right: -50vw;
  margin-bottom: 1em;
  margin-left: -50vw;
}

.highlight-banner > .content {
  max-width: 1400px;
  margin: 0 auto;
}

.highlight-banner {
  padding: 1em 0;
  text-align: center;
  font-size: 1.5em;
}

.highlight-banner .foundation-button {
  font-size: 0.75em;
}

.highlight-banner.blue {
  text-align: center;
  color: #fff;
  background: #073d74;
  font-size: 1.5em;
}

.highlight-banner.blue h2 {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .full-width-section .highlight-banner {
    padding: 1em;
  }
}
