{#
/**
 * @file
 * Theme template for Kingfisher Mini-Right layout.
 */
#}
{% if content %}
  <div {{ attributes.addClass('layouts--mini-right') }}>
  {% if content.main %}
    <div {{ region_attributes.main.addClass('main-region') }}>
      {{ content.main }}
    </div>
  {% endif %}
  {% if content.sidebar %}
    <div {{ region_attributes.sidebar.addClass('sidebar-region') }}>
      {{ content.sidebar }}
    </div>
  {% endif %}
  </div>
{% endif %}
