/**
 * @file
 * This contains extensions for hfcglobal module footer blocks.
 *
 * @see hfcglobal-complete-footer.css
 * @see hfcglobal-small-footer.css
 */

.layout-container .complete-footer-copyright a,
.layout-container .complete-footer-copyright a:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.layout-container .complete-footer-copyright a:hover,
.layout-container .complete-footer-copyright a:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
  background-color: transparent;
}
