/**
 * @file
 * This file contains styling for reusable base elements.
 *
 * Styles placed here should not be opinionated, and should be applicable
 * for most cases on any site. These global definitions can be overridden
 * by skinning themes or for specific uses by using more selective selectors.
 *
 * @todo: look at elements.css from Bartik and base.css from Umami for ideas
 *   about what elements should be included here.
 *   - web/core/themes/bartik/css/base/elements.css
 *   - web/core/profiles/demo_umami/themes/umami/css/base.css
 */

/**
 * Automatically scales images larger than the container.
 * Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/
 */

body {
  overflow-x: hidden;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #ddd;
}

img {
  height: auto;
}

img,
object,
video {
  max-width: 100%;
}

/* Link Styles */

.layout-container a,
.layout-container a.link {
  text-decoration: none;
  border-bottom: 1px solid;
}

.layout-container a:hover,
.layout-container a:active,
.layout-container a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: none;
}

.contextual-links a,
.contextual-links a:hover {
  border-bottom: none;
  background-color: inherit;
}

/* Nested lists */

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: decimal;
}

ol.upper-alpha {
  list-style-type: upper-alpha;
}

ol.lower-alpha {
  list-style-type: lower-alpha;
}

ol.upper-roman {
  list-style-type: upper-roman;
}

ol.lower-roman {
  list-style-type: lower-roman;
}

ol.decimal {
  list-style-type: decimal;
}

/* Reusable classes */

.center {
  text-align: center;
}

.element-invisible {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.floatleft img {
  float: left;
  margin-right: 1.5em;
}

.floatright img {
  float: right;
  margin-left: 1.5em;
}

.gray {
  background-color: var(--light-gray);
}
