/**
 * @file
 * Defines base typography for the HFC Kingfisher theme.
 */

/* Fonts settings based on the 100E2R standard: http://www.informationarchitects.jp/en/100e2r/ */

body,
button,
caption,
fieldset,
input,
legend,
option,
select,
textarea,
td,
th {
  max-width: 100%; /* Fixes forms and tables to be responsive */
  color: var(--font-color);
  font-family: var(--main-font);
  font-size: var(--initial-font-size);
  line-height: var(--initial-line-height);
}

/* Tweaks for Roboto spacing. */

.layout-container {
  letter-spacing: var(--letter-spacing);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 500;
}

/* @todo This math is now wrong with font size at 1.125em.
/* Font size = 16px (100%), line height = 24px (1.5em), interval = perfect fourth (1:1.3333) */
/* http://www.gridlover.net/try */
/* @todo Look at font sizing intervals / revisit  */

h1 {
  margin: 0.6316em 0;
  font-size: 2.375em;
  line-height: 1.2632em;
}

h2 {
  margin: 0.8571em 0;
  font-size: 1.6em;
  line-height: 1.5em;
}

h3 {
  margin: 1.1428em 0;
  font-size: 1.3125em;
  line-height: 1.1428em;
}

h4 {
  margin: 1.5em 0;
  font-size: 1em;
  line-height: 1.5em;
}

small {
  margin: 0 0 1.875em;
  font-size: 0.8em;
  line-height: 1.875em;
}

/* Embiggening Classes */
/* @todo change this section name */

.font-size-sm {
  font-size: 0.8em;
}

.font-size-md {
  font-size: 1em;
}

.font-size-lg {
  font-size: 1.3125em;
}

.font-size-xl {
  font-size: 1.75em;
}

.font-size-2x {
  font-size: 2.375em;
}

.font-size-3x {
  font-size: 3.0625em;
}

.font-size-4x {
  font-size: 4em;
}

/* Colors */

.layout-container a,
.layout-container a.link {
  color: var(--link-color);
  border-bottom-color: var(--link-color);
}

.layout-container a:hover,
.layout-container a:active,
.layout-container a:focus,
.link:hover,
.link:active,
.link:focus {
  background-color: var(--hover-accent-color);
}

.hfc-navy-title {
  color: var(--secondary-branding-color);
  font-weight: bold;
}
