/**
 * @file
 * This file contains styling for reusable base elements.
 *
 * Subthemes may want to completely override this file.
 */

:root {
  --main-font: Roboto, Arial, sans-serif;
  --heading-font: "Roboto Slab", serif;
  --font-color: #262729;
  --initial-font-size: 1.125em;
  --initial-line-height: 1.667em;
  --letter-spacing: 1px;
  --one-sidebar-width: 30%;
  --two-sidebars-width: 22%;
  --background-color: #fff;
  --link-color: #002d5b;
  --primary-branding-color: #0054a6;
  --secondary-branding-color: #002d5b;
  --accent-color: #f88818;
  --hover-accent-color: #dedede;
  --black: #262729;
  --dark-gray: #595959;
  --light-gray: #ccc;
  --white: #fff;
}
