/**
 * @file
 * Styles for breadcrumbs.
 */

.breadcrumb {
  padding: 0.5em 0;
}

.breadcrumb ol {
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
