/**
 * @file
 * Base styling for menus.
 */

/* Normal Menus */

nav > ul,
ul.menu {
  margin: 0;
}

nav > ul,
ul.menu,
ul.menu .menu-item--expanded {
  list-style-type: none;
  list-style-image: none;
}

nav > ul li,
ul.menu li {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

nav > ul a,
ul.menu a {
  border: none;
}

nav > ul li.is-active a {
  color: #333335;
  border-bottom: 1px solid #333335;
}

nav > ul ul,
ul.menu ul {
  margin: 0 0 0 0.75em;
}

nav > ul ul ul,
ul.menu ul ul {
  margin: 0 0 0 0.75em;
}

nav > ul li ul li.last,
ul.menu li ul li.last {
  padding: 0;
}

/* Local Actions Menus */

.block-local-actions-block li {
  list-style-type: none;
}
