/**
 * @file
 * Styles for system messages.
 */

.messages {
  padding: 15px 20px 15px 35px; /* LTR */
  word-wrap: break-word;
  border: 1px solid;
  border-width: 1px 1px 1px 0; /* LTR */
  border-radius: 2px;
  background: no-repeat 10px 17px; /* LTR */
  overflow-wrap: break-word;
}

[dir="rtl"] .messages {
  padding-right: 35px;
  padding-left: 20px;
  text-align: right;
  border-width: 1px 0 1px 1px;
  background-position: right 10px top 17px;
}

.messages + .messages {
  margin-top: 1.538em;
}

.messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages__item + .messages__item {
  margin-top: 0.769em;
}
/* See .color-success in Seven's colors.css */

.messages--status {
  color: #000;
  border-color: #238613 #238613 #238613 transparent; /* LTR */
  background-color: #80eb6f;
  background-image: url("../../images/hfc-theme-icons/check.svg");
  box-shadow: -8px 0 0 #238613; /* LTR */
}

[dir="rtl"] .messages--status {
  margin-left: 0;
  border-color: #238613 transparent #238613 #238613;
  box-shadow: 8px 0 0 #238613;
}

.messages--status a {
  color: #000;
}

.messages--status a:hover,
.messages--status a:focus {
  color: #fff;
  background-color: #000;
}
/* See .color-warning in Seven's colors.css */

.messages--warning {
  color: #000;
  border-color: #bd8100 #bd8100 #bd8100 transparent; /* LTR */
  background-color: #ff0;
  background-image: url("../../images/hfc-theme-icons/warning.svg");
  box-shadow: -8px 0 0 #bd8100; /* LTR */
}

[dir="rtl"] .messages--warning {
  border-color: #bd8100 transparent #bd8100 #bd8100;
  box-shadow: 8px 0 0 #bd8100;
}

.messages--warning a {
  color: #000;
}

.messages--warning a:hover,
.messages--warning a:focus {
  color: #fff;
  background-color: #000;
}
/* See .color-error in Seven's colors.css */

.messages--error {
  color: #fff;
  border-color: #ff8585 #ff8585 #ff8585 transparent; /* LTR */
  background-color: #b40000;
  background-image: url("../../images/hfc-theme-icons/error.svg");
  box-shadow: -8px 0 0 #ff8585; /* LTR */
}

[dir="rtl"] .messages--error {
  border-color: #ff8585 transparent #ff8585 #ff8585;
  box-shadow: 8px 0 0 #ff8585;
}

.messages--error p.error {
  color: #fff;
}

.messages--error a {
  color: #fff;
}

.messages--error a:hover,
.messages--error a:focus {
  color: #b40000;
  background-color: #fff;
}
