/**
 * Styling for HTML Tables.
 *
 * Overrides hfcbase/css/components/table.css
 */

table {
  width: 100%;
  border-spacing: 0;
  color: #262729;
  border-collapse: collapse;
  font-size: 1rem;
}

tbody {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

tr {
  margin: 0;
  padding: 0;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  border-bottom: 2px solid transparent;
}

tr:nth-child(even) {
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:last-child {
  border-bottom: none;
}

tr:hover {
  color: #000;
  border-bottom: 2px solid #595959;
  background-color: #efefef;
}

th {
  padding: 0.25em 0.5em;
  text-align: left;
  font-weight: 600;
}

td {
  padding: 0.25em 0.5em;
  border: none;
}

table.views-table caption {
  margin: 2em 0 0.4em;
  text-align: left;
  font-size: 1.15em;
  font-weight: bold;
}
