/**
 * @file
 * Visual styles for tabs.
 */

div.tabs {
  margin: 1em 0;
}

ul.tabs {
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}

[dir="rtl"] .tabs > li {
  margin-right: 0;
  margin-left: 0.3em;
}

.tabs a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #f5f5f5;
}

.tabs a.is-active {
  margin-bottom: -2px;
  border: 2px solid #ccc;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.tabs a:focus,
.tabs a:hover {
  background-color: transparent;
}
