/**
 * @file
 * Visual styles for views.
 */

/**
 * Style exposed filters when search-bar class is added to view.
 */

.view.search-bar .views-exposed-form {
  margin: 1.5em 0;
  text-align: center;
}

.view.search-bar .views-exposed-form .form-item {
  display: inline-block;
  vertical-align: bottom;
}

.view.search-bar .views-exposed-form #edit-actions {
  display: inline-block;
  margin: 0 0 1em 0;
  vertical-align: bottom;
}

.view.search-bar .views-exposed-form #edit-actions input[type="submit"] {
  padding: 1.1em 0.5em;
}
